<ul class="card-text font-weight-light list-group list-group-flush">
  {% for item in data[1] %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center">
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                    {% if item.startDate %}{{ item.startDate }} - {{ item.endDate }}{% endif %}
                  </span>
                </td>
              </tr>
              {% if item.location %}
                <tr>
                  <td>
                    <p class="location">{{ item.location }}</p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if item.url %}
              <a href="{{ item.url }}" rel="external nofollow noopener" target="_blank">{{ item.position }}</a>
            {% else %}
              {{ item.position }}
            {% endif %}
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ item.name }}</h6>
          {% if item.summary %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ item.summary }}</h6>
          {% endif %}
          {% if item.highlights %}
            <ul class="items">
              {% for highlight in item.highlights %}
                <li>
                  <span class="item">{{ highlight }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
